##
#textdomain wesnoth-Desert_Map-Pack

[multiplayer]
    id=AI-Test
    name= _ "2p — AI-Test"
    map_data="{~add-ons/Desert_Map-Pack/maps/2p_AI-Test.map}"
    description= _ "This is an AI test map."
    random_start_time="no"

###---basic macros-------------basic:
	{DEFAULT_SCHEDULE}
	{DEFAULT_MUSIC_PLAYLIST}

###----------------------------sides:
    [side]
        [ai]
            villages_per_scout=8
        [/ai]
        side=1
        canrecruit=yes
        controller=human
        team_name=north
        user_team_name= _ "teamname^North"
        fog=yes
    [/side]
    [side]
        [ai]
            villages_per_scout=8
        [/ai]
        side=2
        canrecruit=yes
        controller=human
        team_name=south
        user_team_name= _ "teamname^South"
        fog=yes
    [/side]

###-------------------------prestart:
	[event]
		name=prestart
		[objectives]
			side=0
			summary=_ "Mixed desert style map, created for AI tests."
			[objective]
				description= _ "Defeat of enemy leader."
				condition=win
			[/objective]
			[objective]
				description= _ "Defeat of your leader."
				condition=lose
			[/objective]
		[/objectives]
	[/event]
[/multiplayer]
