##
#textdomain wesnoth-Desert_Map-Pack

[multiplayer]
    id=multiplayer_Caves_and_Dunes
    name= _ "2p — Caves and Dunes"
    map_data="{~add-ons/Desert_Map-Pack/maps/2p_Caves_and_Dunes.map}"
    description= _ "These caves were once the lair of a legendary Elder Basilisk. Dunes or caves, that is the question!"
    random_start_time="no"

###---basic macros-------------basic:
	{DEFAULT_SCHEDULE}
	{DEFAULT_MUSIC_PLAYLIST}

    [side]
        [ai]
            villages_per_scout=8
        [/ai]
        side=1
        canrecruit=yes
        controller=human
        team_name=north
        user_team_name= _ "teamname^North"
        fog=yes
    [/side]

    [side]
        [ai]
            villages_per_scout=8
        [/ai]
        side=2
        canrecruit=yes
        controller=human
        team_name=south
        user_team_name= _ "teamname^South"
        fog=yes
        [village]
            x=16
            y=21
        [/village]
    [/side]

###-------------------------prestart:
	[event]
		name=prestart
		[objectives]
			side=0
			summary=_ "Mixed desert style map, created for hill and desert style southern factions, e.g. Sharifs, Dunefolk, and Halfelven."
			[objective]
				description= _ "Defeat of enemy leader."
				condition=win
			[/objective]
			[objective]
				description= _ "Defeat of your leader."
				condition=lose
			[/objective]
		[/objectives]
	[/event]
[/multiplayer]
