##
#textdomain wesnoth-Desert_Map-Pack

[multiplayer]
    id=River_Delta
    name= _ "2p — River Delta"
    description= _ "The delta of the Black River makes for very fertile land in the southern region. The spring and summer bring floods, re-fertilise the soil providing bountiful harvests twice each year. It has turned the delta into the engine of wealth and prosperity — making it the target of countless raids and attacks from the desert. It is bears the constant need for patrol and defense."
    map_data="{~add-ons/Desert_Map-Pack/maps/2p_River_Delta.map}"
    random_start_time="no"

###---basic macros-------------basic:
    {DEFAULT_SCHEDULE}
    {DEFAULT_MUSIC_PLAYLIST}

    [side]
        [ai]
            villages_per_scout=8
        [/ai]
        side=1
        canrecruit=yes
        controller=human
        team_name=north
        user_team_name= _ "teamname^North"
        gold=100
        village_gold=2
        fog=yes
    [/side]
    [side]
        [ai]
            villages_per_scout=8
        [/ai]
        side=2
        canrecruit=yes
        controller=human
        team_name=south
        user_team_name= _ "teamname^South"
        gold=100
        village_gold=2
        fog=yes
        [village]
            x,y=2,10
        [/village]
    [/side]

###-------------------------prestart:
	[event]
		name=prestart
		[objectives]
			side=0
			summary=_ "Mixed desert style map, created for hill and desert style southern factions, e.g. Sharifs, Dunefolk, and Halfelven."
			[objective]
				description= _ "Defeat of enemy leader."
				condition=win
			[/objective]
			[objective]
				description= _ "Defeat of your leader."
				condition=lose
			[/objective]
		[/objectives]
	[/event]
[/multiplayer]
