###
#textdomain wesnoth-Halfelven

#define EIv_UNITSTR
units/halfelven/peasants/ivri-master#enddef

[unit_type]
    id=HELVE_emissary
    name= _ "Halfelven Emissary"
    # roughly like Golbin Rouser
    race=halfelven
    gender=male
    image="{EIv_UNITSTR}.png"
    {MAGENTA_IS_THE_TEAM_COLOR}
    movement_type=halfelvenfoot
    cost=10
    hitpoints=19
    movement=5
    experience=23
    level=0
    alignment=liminal
    	{TRAIT_FEARLESS}
    advances_to="HELVE_operative"
    usage=fighter
    undead_variation=human
    [abilities]
	    {ABILITY_DESERTTARN}
    [/abilities]
    halo=halo/haganah.png
    description= _ "An emissary is a designated agent of a settlement or a town in rural or urban ereas. Mostly he acts as a representative or mediator sent on a mission or errand. Rare delicate situations require him being an agent, sent on a mission of a secret nature. Who knows if he is a recruit of an intelligence agency, too?"+{SPECIAL_NOTES}+{SPECIAL_NOTES_DESERTTARN}
    [attack]
        name=sword
        description= _ "meteor short sword"
        type=cold
        range=melee
        damage=6
        number=2
	    [specials]
            {WEAPON_SPECIAL_MARKSMAN}
        [/specials]
        icon=attacks/sword-shabak-steel.png
    [/attack]
    [attack]
        name=sling
        description= _ "fire-sling"
        type=fire
        range=ranged
        damage=6
        number=2
	    [specials]
            {WEAPON_SPECIAL_MARKSMAN}
        [/specials]
        icon=attacks/sling-fireball.png
    [/attack]
    [idle_anim]
        {STANDARD_IDLE_FILTER}
        start_time=0
        [frame]
            duration=500
            image="{EIv_UNITSTR}_idle3.png"
        [/frame]
        [frame]
            duration=500
            image="{EIv_UNITSTR}.png"
        [/frame]
        [frame]
            duration=500
            image="{EIv_UNITSTR}_idle.png"
        [/frame]
        [frame]
            duration=250
            image="{EIv_UNITSTR}_idle1.png"
        [/frame]
	    [frame]
            duration=500
            image="{EIv_UNITSTR}_idle2.png"
        [/frame]
        [frame]
            duration=750
            image="{EIv_UNITSTR}_idle3.png"
        [/frame]
    [/idle_anim]
    [attack_anim]
        [filter_attack]
            name=sword
        [/filter_attack]
        [frame]
            begin=-100
            end=-80
            image="{EIv_UNITSTR}.png"
        [/frame]
        [frame]
            begin=-80
            end=-50
            image="{EIv_UNITSTR}_attack-1.png"
            sound={SOUND_LIST:THROW}
        [/frame]
        [frame]
            begin=-50
            end=-25
            image="{EIv_UNITSTR}_attack-2.png"
        [/frame]
        [frame]
            begin=-25
            end=0
            image="{EIv_UNITSTR}_attack-3.png"
        [/frame]
        [frame]
            begin=0
            end=+25
            image="{EIv_UNITSTR}_attack-4.png"
            sound=dagger-swish.wav
        [/frame]
        [if]
            hits=yes
       	    [frame]
            	begin=+25
            	end=+100
            	image="{EIv_UNITSTR}_attack-5.png"
            	sound=dagger-swish.wav
            [/frame]
	    [/if]
	    [else]
            hits=no
            [frame]
            	begin=+25
            	end=+100
            	image="{EIv_UNITSTR}_attack-5.png"
            [/frame]
        [/else]
    [/attack_anim]
    [attack_anim]
        [filter_attack]
            name=sling
        [/filter_attack]
        [missile_frame]
            begin=-0
            end=100
            image="projectiles/stone-large.png"
            image_diagonal="projectiles/stone-large.png"
        [/missile_frame]
        [frame]
            begin=-250
            end=-50
            image="{EIv_UNITSTR}_ranged-1.png"
            sound={SOUND_LIST:THROW}
        [/frame]
        [if]
            hits=yes
            [frame]
                begin=-50
                end=10
                image="{EIv_UNITSTR}_ranged-2.png"
            [/frame]
            [frame]
                begin=10
                end=+100
                image="{EIv_UNITSTR}.png"
                sound=sling.ogg
            [/frame]
        [/if]
        [else]
            hits=no
            [frame]
                begin=-50
                end=10
                image="{EIv_UNITSTR}_ranged-2.png"
            [/frame]
            [frame]
                begin=10
                end=+100
                image="{EIv_UNITSTR}.png"
                sound=sling-miss.ogg
            [/frame]
        [/else]
    [/attack_anim]
[/unit_type]

#undef EIv_UNITSTR
