#textdomain wesnoth-Tunnel_Rats_part05

# ----------------------------------------------AI
#define PLAYHUMAN
    controller=human
    no_leader=no
    persistent=yes
    save_id=human_player
    canrecruit=yes
#enddef

#define PLAYNULL
    controller=null
    no_leader=yes
    canrecruit=no
#enddef

#define PLAYAI
    controller=ai
    no_leader=no
    canrecruit=yes
#enddef

#define PLAYAINOLEADER
    controller=ai
    no_leader=yes
    canrecruit=yes
#enddef

# -------------------------------------------Teams
#define PLAYER_TEAM
    team_name=player
    user_team_name= _ "Player"
#enddef

#define ORC_TEAM
    team_name=orcs
    user_team_name= _ "Orcs"
#enddef

    # -------------------120_Zion
#define HACOHEN_TEAM
    team_name="player,hasmonee4,levites5,rats"
    user_team_name=_"Sayon Defence Force"
    save_id=HaCohen
    persistent=yes
    defeat_condition=never
#enddef

#define ZOE_TEAM
    team_name="player,hasmonee4,levites5,rats"
    user_team_name=_"Avian Order"
    save_id=Zoe
    persistent=yes
    defeat_condition=never
#enddef

#define HASMONEE_TEAM
    team_name="hasmonee4,rats"
    user_team_name=_"Villagers"
    save_id=Villagers
#enddef

#define LEVITES_TEAM
    team_name="levites5,rats"
    user_team_name=_"Villagers"
    save_id=Villagers
#enddef

#define RATS_TEAM
    team_name=rats
    user_team_name=_"Rats"
    save_id=Rats
#enddef

# --------------------------------------Characters
# Remember: in the campaign, the main character
# can be choosen by the player in the first
# scenario of part1: '100_Character_Selection.cfg'
# the code is specified in:
# '/lua/gender_selection.lua'
# the type= is specified in:
# '/units/maincharacters/hero.cfg' and
# '/units/maincharacters/heroine.cfg'
#
#define PROTAGONIST
    type=TUNRA_heroine
    id=maincharacter
    name= _"Protagonist"
    unrenamable=yes
    profile=portraits/maincharacter_female.png
    canrecruit=yes
    placement=map,leader
    [modifications]
        {TRAIT_HEALTHY}
    [/modifications]
#enddef

#define RUTH
    type=TUNRA_Hummingbird
    id=Ruth
    name= _ "Ruth"
    gender=female
    unrenamable=yes
    random_traits=no
    side=1
    #profile=portraits/ruth.png
    upkeep=loyal
    [modifications]
        {TRAIT_LOYAL}
        {TRAIT_DEXTROUS}
    [/modifications]
    {IS_HERO}
#enddef

#define CIRDAN
    type=HALEL_lanciercaptain
    id=Cirdan
    name= _ "Cirdan"
    profile=portraits/cirdan.png
    unrenamable=yes
    side=1
    [modifications]
        {TRAIT_LOYAL}
        {TRAIT_STRONG}
        [object]
            [effect]
                apply_to=new_ability
                [abilities]
                    {ABILITY_TEACHING}
                [/abilities]
            [/effect]
            [effect]
                apply_to=max_experience
                increase=850
            [/effect]
        [/object]
    [/modifications]
    {IS_HERO}
#enddef

#define MELIAN
    type="Shasu_Shaman"
    id=Melian
    name= _ "Melian"
    profile=portraits/melian.png
    unrenamable=yes
    [modifications]
        {TRAIT_LOYAL}
        {TRAIT_INTELLIGENT}
        [object]
            [effect]
                [filter]
                    type="Shasu_Shyde"
                [/filter]
                apply_to=profile
                portrait=portraits/melian_shyde.png
            [/effect]
        [/object]
    [/modifications]
    {IS_HERO}
#enddef


