##
#textdomain wesnoth-Halfelven

#define EIv_UNITSTR
units/halfelven/hasmonee/chariotlight#enddef
#define EIv_PROFILESTR
portraits/chariotlight#enddef
#define EIv_PORTRAITSTR
portraits/transparent/chariotlight#enddef

[unit_type]
    id=HALEL_chariotlight_2
    name= _ "Halfelven Lightchariot"
    # roughly like Dune Swiftrider (Saree) / White Mage
    race=halfelven
    gender=male
    	{MAGENTA_IS_THE_TEAM_COLOR}
    movement_type=chariotlight
    alignment=liminal
    [trait]
        id=fearless
        male_name= _ "fearless"
        female_name= _ "female^fearless"
        description= _ "Fights normally during unfavorable times of day or night"
        [effect]
            apply_to="fearless"
        [/effect]
        [effect]
            apply_to=status
            add=unpoisonable
        [/effect]
    [/trait]
    [+trait]
        availability=musthave
    [/trait]
    usage=archer
    cost=40
    hitpoints=57
    movement=8
    experience=110
    level=2
    advances_to="HALEL_chariotlight_3"
    [abilities]
    [/abilities]
    [attack]
        name=trample
        description=_"trample"
        icon=attacks/trample.png
        type=impact
        range=melee
        damage=9
        number=2
        [specials]
            [chance_to_hit]
                id=overrun
                name= _ ""
                description= _ ""
                value=60
                cumulative=yes
                active_on=offense
            [/chance_to_hit]
        [/specials]
    [/attack]
    [attack]
        name=sling
        description= _"precision sling (arcane ammo)"
        type=arcane
        range=ranged
        damage=6
        number=4
        [specials]
            {WEAPON_SPECIAL_MARKSMAN}
        [/specials]
        icon=attacks/sling-arcane.png
    [/attack]
    [portrait]
        size=400
        side="left"
        mirror="false"
        image="{EIv_PORTRAITSTR}.png"
    [/portrait]
    [portrait]
        size=400
        side="right"
        mirror="true"
        image="{EIv_PORTRAITSTR}.png"
    [/portrait]
    image="{EIv_UNITSTR}_1.png"
    profile="{EIv_PROFILESTR}.png"
    description= _ "The Halfelven Lightchariot is a mobile attack vehicle. It has one charioteer which steers two race horses and can perform attacks as a precision slinger. The speedy horses fight best at times of dusk and dawn, when the heat is rather bearable."+{SPECIAL_NOTES}+{SPECIAL_NOTES_MARKSMAN}
    die_sound={SOUND_LIST:HUMAN_DIE}
    get_hit_sound={SOUND_LIST:HUMAN_HIT}
    {DEFENSE_ANIM_RANGE "{EIv_UNITSTR}_1_defend1.png" "{EIv_UNITSTR}_1.png" {SOUND_LIST:HUMAN_HIT} melee }
    {DEFENSE_ANIM_RANGE "{EIv_UNITSTR}_1_defend2.png" "{EIv_UNITSTR}_1.png" {SOUND_LIST:HUMAN_HIT} ranged }
    [idle_anim]
        {STANDARD_IDLE_FILTER}
        start_time=0
        [frame]
            duration=250
            image="{EIv_UNITSTR}_1_defend1.png"
        [/frame]
        [frame]
            duration=500
            image="{EIv_UNITSTR}_1_melee1.png"
        [/frame]
        [frame]
            duration=100
            image="{EIv_UNITSTR}_1_defend1.png"
        [/frame]
        [frame]
            duration=150
            image="{EIv_UNITSTR}_1_ranged1.png"
        [/frame]
	[frame]
            duration=150
            image="{EIv_UNITSTR}_1_ranged2.png"
        [/frame]
	[frame]
            duration=150
            image="{EIv_UNITSTR}_1_ranged3.png"
        [/frame]
        [frame]
            duration=250
            image="{EIv_UNITSTR}_1_defend1.png"
        [/frame]
        [frame]
            duration=250
            image="{EIv_UNITSTR}_1_defend2.png"
        [/frame]
    [/idle_anim]
    [attack_anim]
        [filter_attack]
            name=trample
        [/filter_attack]
        [frame]
            begin=-200
            end=_175
            image="{EIv_UNITSTR}_1_moving.png"
            sound=horse-canter.wav
        [/frame]
        [if]
            hits=no
            [frame]
                begin=_100
                end=100
                image="{EIv_UNITSTR}_1_defend2.png"
                sound={SOUND_LIST:MISS}
            [/frame]
        [/if]
        [else]
            hits=yes
            [frame]
                begin=_100
                end=100
                image="{EIv_UNITSTR}_1_defend1.png"
                sound=horse-canter.wav
            [/frame]
        [/else]
    [/attack_anim]
    [attack_anim]
        [filter_attack]
            name=sling
        [/filter_attack]
        [missile_frame]
            begin=_150
            end=0
            image=projectiles/stone-large.png
            image_diagonal=projectiles/stone.png
        [/missile_frame]
        [frame]
            begin=-500
            end=-375
            image={EIv_UNITSTR}_1_ranged1.png
        [/frame]
        [if]
            hits=yes
            [frame]
                begin=-375
                end=-250
                image={EIv_UNITSTR}_1_ranged2.png
                sound=hatchet.wav
            [/frame]
        [/if]
        [else]
            hits=no
            [frame]
                begin=-375
                end=-250
                image={EIv_UNITSTR}_1_ranged2.png
                sound=hatchet-miss.wav
            [/frame]
        [/else]
        [frame]
            begin=-250
            end=_125
            image={EIv_UNITSTR}_1_ranged3.png
        [/frame]
        [frame]
            begin=_125
            end=_100
            image={EIv_UNITSTR}_1_ranged4.png
        [/frame]
        [frame]
            begin=_100
            end=0
            image={EIv_UNITSTR}_1_ranged4.png
        [/frame]
        {SOUND:SLOW}
    [/attack_anim]
    [attack_anim]
        [filter_attack]
            name=sword
        [/filter_attack]
        [frame]
            begin=_150
            end=_100
            image={EIv_UNITSTR}_1_melee1.png
        [/frame]
        [if]
            hits=yes
            [frame]
                begin=_100
                end=100
                image={EIv_UNITSTR}_1_melee2.png
                sound={SOUND_LIST:SWORD_SWISH}
            [/frame]
        [/if]
        [else]
            hits=no
            [frame]
                begin=_100
                end=100
                image={EIv_UNITSTR}_1_melee2.png
                sound={SOUND_LIST:MISS}
            [/frame]
        [/else]
    [/attack_anim]
[/unit_type]

#undef EIv_UNITSTR
#undef EIv_PROFILESTR
#undef EIv_PORTRAITSTR
