#textdomain wesnoth-Tunnel_Rats_part00

[unit_type]
    id=TUNRA_protagonistine
    gender=female
    profile="portraits/maincharacter_female.png"
    halo=halo/pharmacist.png
    hitpoints=21
    # --------------------------
    name= _ "Recruté"
    race=maiden
    image="units/maidens/kingfisher.png"
    ellipse="misc/ellipse"
    {MAGENTA_IS_THE_TEAM_COLOR}
    movement_type=halfelvenfoot
    cost=10
    movement=5
    experience=100
    level=0
    alignment=liminal
    	{TRAIT_FEARLESS}
    advances_to="TUNRA_heroine"
    usage="mixed fighter"
    undead_variation=human
    [abilities]
      [regenerate]
        value=2
        id=regenerates
        name= _ ""
        female_name= _ ""
        description= _ ""
        affect_self=yes
      [/regenerate]
    [/abilities]
    #{LEADING_ANIM "units/maidens/kingfisher.png" "units/maidens/kingfisher-ground-air1.png" -5,-28}
    description= _ "A Recruté has been ordered by the provost of her settlement to serve in the armed defence forces. Only in times of external threat do recruits have to serve at the borders and participate early in combat operations."
    die_sound={SOUND_LIST:HUMAN_FEMALE_DIE}
    [portrait]
        size=400
        side="left"
        mirror="false"
        image="portraits/maidens/transparent/kingfisher.png"
    [/portrait]
    [portrait]
        size=400
        side="right"
        mirror="true"
        image="portraits/maidens/transparent/kingfisher.png"
    [/portrait]
    [attack]
        name=spear
        description=_"spear"
        icon=attacks/spear.png
        type=pierce
        range=melee
        damage=6
        number=3
		[specials]
            {WEAPON_SPECIAL_MARKSMAN}
        [/specials]
    [/attack]
    [attack]
        name=spear
        description=_"spear"
        icon=attacks/spear.png
        type=blade
        range=melee
        damage=6
        number=3
		[specials]
            {WEAPON_SPECIAL_MARKSMAN}
        [/specials]
    [/attack]

	{DEFENSE_ANIM "units/maidens/kingfisher-defend1.png" "units/maidens/kingfisher-defend2.png" {SOUND_LIST:HUMAN_FEMALE_HIT}}
    [attack_anim]
        [filter_attack]
            name=spear
            type=pierce
        [/filter_attack]
        direction=se,ne,sw,nw
        start_time=-200
        [frame]
            image="units/maidens/kingfisher.png"
        [/frame]
		[frame]
            duration=100
            image="units/maidens/kingfisher-attack1.png"
        [/frame]
		[if]
			hits=yes
			[frame]
				duration=100
				image="units/maidens/kingfisher-attack2.png"
				sound=spear.ogg
			[/frame]
		[/if]
		[else]
			hits=no
			[frame]
				duration=100
				image="units/maidens/kingfisher-attack2.png"
				sound=spear-miss.ogg
			[/frame]
		[/else]
        [frame]
            duration=100
            image="units/maidens/kingfisher-attack3.png"
        [/frame]
		[frame]
            duration=100
            image="units/maidens/kingfisher-attack4.png"
        [/frame]
		[frame]
            duration=100
            image="units/maidens/kingfisher-attack5.png"
        [/frame]
		[frame]
            duration=100
            image="units/maidens/kingfisher-attack6.png"
        [/frame]
		[frame]
            duration=100
            image="units/maidens/kingfisher-attack7.png"
        [/frame]
		[frame]
            duration=100
            image="units/maidens/kingfisher-attack8.png"
        [/frame]
		[frame]
            duration=100
            image="units/maidens/kingfisher-attack9.png"
        [/frame]
		[frame]
            duration=100
            image="units/maidens/kingfisher-attack10.png"
        [/frame]
		[frame]
            duration=100
            image="units/maidens/kingfisher-attack11.png"
        [/frame]
		[frame]
            duration=100
            image="units/maidens/kingfisher-attack12.png"
        [/frame]
		[frame]
            duration=100
            image="units/maidens/kingfisher-attack13.png"
        [/frame]
		[frame]
            duration=100
            image="units/maidens/kingfisher-attack14.png"
        [/frame]
	[frame]
            duration=50
            image="units/maidens/kingfisher.png"
        [/frame]
    [/attack_anim]
    [attack_anim]
        [filter_attack]
            name=spear
            type=pierce
        [/filter_attack]
        direction=n
        start_time=-200
        [frame]
            image="units/maidens/kingfisher.png"
        [/frame]
		[frame]
            duration=200
            image="units/maidens/kingfisher-n-attack1.png"
        [/frame]
		[if]
			hits=yes
			[frame]
				duration=200
				image="units/maidens/kingfisher-n-attack2.png"
				sound=spear.ogg
			[/frame]
		[/if]
		[else]
			hits=no
			[frame]
				duration=200
				image="units/maidens/kingfisher-n-attack2.png"
				sound=spear-miss.ogg
			[/frame]
		[/else]
        [frame]
            duration=200
            image="units/maidens/kingfisher-n-attack2.png"
        [/frame]
		[frame]
            duration=200
            image="units/maidens/kingfisher-n-attack1.png"
        [/frame]
	[frame]
            duration=100
            image="units/maidens/kingfisher.png"
        [/frame]
    [/attack_anim]
    [attack_anim]
        [filter_attack]
            name=spear
            type=pierce
        [/filter_attack]
        direction=s
        start_time=-200
        [frame]
            image="units/maidens/kingfisher.png"
        [/frame]
		[frame]
            duration=200
            image="units/maidens/kingfisher-s-attack1.png"
        [/frame]
		[if]
			hits=yes
			[frame]
				duration=200
				image="units/maidens/kingfisher-s-attack2.png"
				sound=spear.ogg
			[/frame]
		[/if]
		[else]
			hits=no
			[frame]
				duration=200
				image="units/maidens/kingfisher-s-attack2.png"
				sound=spear-miss.ogg
			[/frame]
		[/else]
        [frame]
            duration=200
            image="units/maidens/kingfisher-s-attack2.png"
        [/frame]
		[frame]
            duration=200
            image="units/maidens/kingfisher-s-attack1.png"
        [/frame]
	[frame]
            duration=100
            image="units/maidens/kingfisher.png"
        [/frame]
    [/attack_anim]
    [attack_anim]
        [filter_attack]
            name=spear
            type=blade
        [/filter_attack]
        start_time=-200
        [frame]
            image="units/maidens/kingfisher.png"
        [/frame]
		[frame]
            duration=100
            image="units/maidens/kingfisher-blade-attack1.png"
        [/frame]
		[if]
			hits=yes
			[frame]
				duration=100
				image="units/maidens/kingfisher-blade-attack2.png"
				sound={SOUND_LIST:SWORD_SWISH}
			[/frame]
		[/if]
		[else]
			hits=no
			[frame]
				duration=100
				image="units/maidens/kingfisher-blade-attack2.png"
				sound={SOUND_LIST:MISS}
			[/frame]
		[/else]
        [frame]
            duration=100
            image="units/maidens/kingfisher-blade-attack3.png"
        [/frame]
		[frame]
            duration=100
            image="units/maidens/kingfisher-blade-attack4.png"
        [/frame]
		[frame]
            duration=100
            image="units/maidens/kingfisher-blade-attack5.png"
        [/frame]
		[frame]
            duration=100
            image="units/maidens/kingfisher-blade-attack6.png"
        [/frame]
		[frame]
            duration=100
            image="units/maidens/kingfisher-blade-attack7.png"
        [/frame]
		[frame]
            duration=100
            image="units/maidens/kingfisher-blade-attack8.png"
        [/frame]
	[frame]
            duration=50
            image="units/maidens/kingfisher.png"
        [/frame]
    [/attack_anim]

	[pre_movement_anim]
        terrain_type=!,W*,Qx*,Ql*,Ss
		[frame]
			duration=100
			image="units/maidens/kingfisher-ground-air1.png"
		[/frame]
		[frame]
			duration=100
			image="units/maidens/kingfisher-ground-air2.png"
		[/frame]
		[frame]
			duration=100
			image="units/maidens/kingfisher-ground-air3.png"
		[/frame]
	[/pre_movement_anim]

	[movement_anim]
		[frame]
			duration=100
			image="units/maidens/kingfisher-move-flying1.png"
		[/frame]
		[frame]
			duration=100
			image="units/maidens/kingfisher-move-flying2.png"
		[/frame]
		[frame]
			duration=100
			image="units/maidens/kingfisher-move-flying3.png"
		[/frame]
		[frame]
			duration=100
			image="units/maidens/kingfisher-move-flying4.png"
		[/frame]
		[frame]
			duration=100
			image="units/maidens/kingfisher-move-flying5.png"
		[/frame]
		[frame]
			duration=100
			image="units/maidens/kingfisher-move-flying6.png"
		[/frame]
		[frame]
			duration=100
			image="units/maidens/kingfisher-move-flying7.png"
		[/frame]
		[frame]
			duration=100
			image="units/maidens/kingfisher-move-flying8.png"
		[/frame]
	[/movement_anim]

	[post_movement_anim]
        terrain_type=!,W*,Qx*,Ql*,Ss
		[frame]
			duration=100
			image="units/maidens/kingfisher-air-ground1.png"
		[/frame]
		[frame]
			duration=100
			image="units/maidens/kingfisher-air-ground2.png"
		[/frame]
		[frame]
			duration=100
			image="units/maidens/kingfisher-air-ground3.png"
		[/frame]
		[frame]
			duration=100
			image="units/maidens/kingfisher-air-ground4.png"
		[/frame]
		[frame]
			duration=100
			image="units/maidens/kingfisher-air-ground5.png"
		[/frame]
		[frame]
			duration=100
			image="units/maidens/kingfisher-air-ground6.png"
		[/frame]
	[/post_movement_anim]
	[animation]
		apply_to=flying
		[frame]
			duration=150
			image="units/maidens/kingfisher-ground-air1.png"
		[/frame]
		[frame]
			duration=150
			image="units/maidens/kingfisher-ground-air2.png"
		[/frame]
		[frame]
			duration=150
			image="units/maidens/kingfisher-ground-air3.png"
		[/frame]
	[/animation]
[/unit_type]

